footer {
    position: relative;
}

.footer_sec {
    width: 100%;
    background-color: #000000;
    padding: 16px 15px;
}

.footer_link_list {
    width: 60%;
    justify-content: right;
}

.page_top {
    opacity: 0;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 65px;
    text-align: center;
    background-color: #ffea59;
    font-size: 12px;
    border-radius: 119px;
    height: 65px;
    padding: 35px 0 12px;
    transition: opacity 0.25s ease 0s;

}

.page_top.show {
    opacity: 1;
}

.page_top.stop {
    position: absolute;
    bottom: 86px;
}

.arrow {
    border: solid #42423b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top: 22px;
    left: 28px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}




/*For tablet*/

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .footer_sec {
        width: 100%;
        padding: 1.333vw 1.250vw;
    }

    .footer_link_list {
        width: 60%;
    }

    .page_top {
        bottom: 0;
        right: 1.667vw;
        width: 5.417vw;
        font-size: 1vw;
        border-radius: 10vw;
        height: 5.417vw;
        padding: 2.917vw 0 1vw;

    }

    .page_top.stop {
        bottom: 7.167vw;
    }

    .arrow {
        border-width: 0 0.167vw 0.167vw 0;
        padding: 0.250vw;
        top: 1.833vw;
        left: 2.333vw;
    }



}

/*For SP*/
@media only screen and (max-width: 767px) {
    .footer_sec {
        width: 100%;
        padding: .64rem;
        display: block;
        text-align: center;
    }

    .footer_link_list {
        display: block;
        width: 100%;
        justify-content: right;
    }

    .footer_sec .logo_sec {
        margin: 0 auto;
    }

    .footer_sec .logo {
        width: 3.2rem;
        margin-bottom: .4rem;

    }

    .footer_sec .menu_item {
        width: 100%;
    }

    .footer_sec .menu_item a {
        font-size: .24rem;
        padding: 0.12rem 0;
    }


    .page_top {
        bottom: 0;
        right: 0.1rem;
        width: 1rem;
        height: 1rem;
        font-size: .2rem;
        border-radius: 1.19rem;
        padding: 0.55rem 0 0.12rem;

    }

    .page_top.stop {
        bottom: 4.25rem;
    }

    .arrow {

        border-width: 0 0.02rem 0.02rem 0;
        padding: 0.06rem;
        top: 0.35rem;
        left: 0.42rem;
    }
}