@charset "utf-8";
/*mv_kinreco_lp*/
section.mv_kinreco_lp {
    background: #ff7845;
    padding: 70px 0 0;
}

.mv_kinreco_lp .inner{
	width: 100%;
	max-width: 1200px;
	position: relative;
}

.mv_content{
	width: 100%;
    max-width: 874px;
    margin: 0 auto;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.mv_content > div{
	display: inline-block;
}

.mv_content_left{
	width: 100%;
	max-width: 384px;
}

.mv_kinrekun_image{
	width: 62%;
	max-width: 584px;
	position: absolute;
	top: -12px;
	right: 0;
}

.mv_kinrekun_image img{
	width: 100%;
	height: auto;
}

.ttl_mv_kinreco {
	width: 100%;
	max-width: 366px;
}

.mv_content .txt_mv_dotted{
	display: block;
	color: #ffffff;
	font-size: 22px;
	line-height: 1.4;
	text-align: right;
	margin-right: 60px;
}

.mv_content .txt_com{
	color: #ffffff;
	font-size: 26px;
	text-align: center;
	letter-spacing: .05em;
	margin-bottom: 30px;
}

/*end mv_kinreco_lp*/
/*attend_sys_sec*/
.ttl_attend_sys,
.ttl_attend_sys span{
    font-size: 32px;
    margin-bottom: 15px;
}

.attend_sys_image{
    width: 100%;
    height: auto;
    margin: 0 auto 50px;
}

.ttlh2_com {
   font-size: 26px;
   line-height: 1.8;
   margin-bottom: 70px;
}

.ttlh2_com span.org_col{
   font-size: 32px; 
}

.ttlh2_com .ttl_logo{
    display: inline-block;
    width: 43.2494%;
    max-width: 378px;
}

/*explain box*/
.explain_box{
    background: #fff5f1;
    -webkit-border-radius: 30px;
            border-radius: 30px;
}

.explain_detail{
    position: relative;
    text-align: left;
    padding: 70px 46px;
}

.explain_detail .txt_com,
.explain_detail .txt_com span{
    font-size: 14px;
    line-height: 2;
}

.explain_detail  p.txt_com:first-child{
    margin-bottom: 30px;
}

.explain_detail .explain_image{
    position: absolute;
    bottom: 0;
    right: 46px;
    width: 40.50%;
    max-width: 354px;
}

/*reason_sec*/
.reason_sec{
    background: #f7f7f7;
    position: relative; 
}

.reason_sec:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 67px 0 67px;
    border-color: #f7f7f7 transparent transparent transparent;
    bottom: -28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.reason_box {
    position: relative;
    padding: 160px 0 0;
    max-width: 780px;
    margin: 0 auto;
}

.reason_sec .ttlh2_com{
    margin-bottom: 30px;
}

.reason_box .img_human_think{
    width: 19.77%;
    max-width: 172px;
    margin: 0 auto 80px;
}

.resong_msg{
    position: absolute;
}

.resong_msg.msg01{
    background: url('/assets/images/lp/bg_resong_msg01.png') no-repeat center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 30.34%;
    max-width: 264px;
    top: 0;
    left: 50%;
   -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.resong_msg.msg02{
    background: url('/assets/images/lp/bg_resong_msg02.png') no-repeat center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 28.73%;
    max-width: 250px;
    top: 30px;
    left: 0;
}

.resong_msg.msg03{
    background: url('/assets/images/lp/bg_resong_msg03.png') no-repeat center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 30.34%;
    max-width: 264px;
    top: 30px;
    right: 0;
}

.resong_msg.msg04{
    background: url('/assets/images/lp/bg_resong_msg04.png') no-repeat center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 34.34%;
    max-width: 264px;
    bottom: 30%;
    left: 0;
}

.resong_msg.msg05{
    background: url('/assets/images/lp/bg_resong_msg05.png') no-repeat center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 30.34%;
    max-width: 264px;
    bottom: 30%;
    right: 0;
}

.resong_msg p{
    font-size: 13px;
    line-height: 1.8;
    padding: 46px 10px 60px;
}
.txt_reason{
    font-size: 38px;
    text-align: center;
}
.txt_reason span{
    font-size: 38px;
}

/*Service Section*/
.service_sec {
    background: #ff8154;
}

.service_sec .ttl_h3,
.service_sec .ttl_h3 .line_txt {
    color: #fff;
}

.service_item {
    -webkit-align-items: center;
            align-items: center;
    background: #ffffff;
    border-radius: 30px;
    padding: 45px;
    max-height: 360px;
    min-height: 360px;
    position: relative;
    margin-bottom: 25px;
}

.service_item:last-child {
    margin-bottom: 0;
}

.service_item:nth-child(2n+1) {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.service_img {
    width: 55%;
    text-align: left;
}

.service_des {
    width: 45%;
}

.service_item:nth-child(2n+1) .service_img {
    text-align: right;
}

.service_img img {
    width: 340px;
}

.service_item02 .service_img img,
.service_item03 .service_img img {
    width: 400px;
}

.ttl_service {
    font-size: 22px;
    color: #ff8154;
    text-align: left;
    margin-bottom: 20px;
}

.service_des .txt_com_sm {
    font-size: 13px;
    text-align: left;
}

.txt_service {
    margin-bottom: 40px;
}

.icon_service {
    position: absolute;
    width: 179px;
    top: -13px;
    right: -50px;
}
/*end of Service Section*/
/*Trial Experience Section*/
.sample_screen_sec {
    background: #fff;
}

.sample_screen_sec .ttl_h3 {
    margin-bottom: 5px;
}

.sample_screen_sec .txt_com_sm span {
    font-size: 12px;
    line-height: 1.5;
}

.txt_login_info,
.txt_login_info span {
    font-size: 18px;
    line-height: 1.4;
}

.txt_login_info {
    margin-bottom: 15px;
}

.txt_login_info span {
    color: #be2323;
}

.login_screen {
    background: #f7f7f7;
    border-radius: 30px;
}

.info_list {
    border-radius: 30px 30px 0 0;
    max-height: 114px;
    min-height: 114px;
}

.info_list li {
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
}

.info_list li.ttl_login_info {
    font-size: 20px;
    margin-bottom: 4px;
}

.login_screen .btn_yellow {
    margin-bottom: 30px;
}

.login_screen .btn_yellow:after {
    content: '';
    position: absolute;
    background: url("/assets/images/lp/icon_login.png") no-repeat right center;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 22px;
    height: 19px;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.screen_mobile .screen_img {
    width: 95%;
    max-width: 398px;
    margin: -10px 0 0 -35px;
}

.screen_pc .screen_img {
    width: 108%;
    max-width: 450px;
    margin-left: -15px;
}
/*end of Trial Experience Section*/

/*Usage Fee Section*/
.usage_sec {
    background: #fff5f1;
}

.txt_usage span {
    font-size: 22px;
    color: #ff8154;
    line-height: 1.3;
}

.usage_list {
    margin-bottom: 15px;
}

.usage_item {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 25px;
}

.usage_item .btn_org {
    font-size: 18px;
    color: #ffffff;
    border-radius: 25px;
    padding: 16px;
    margin-bottom: 20px;
}

.usage_item .btn_org:before {
    border-width: 10px 10px 0 10px;
    bottom: -9px;
}

.usage_item .txt_com_sm {
    text-align: left;
}

.txt_payment {
    font-size: 13px;
}

.app_account .txt_payment {
    margin-bottom: 22px;
}

.payment .txt_payment {
    margin-bottom: 10px;
}

.usage_example .txt_com {
    color: #ff8154;
    margin-bottom: 10px;
}

.usage_example,
.payment_list {
    background: #f7f7f7;
    border-radius: 16px;
    padding: 20px;
}

.payment_list li {
    margin-bottom: 3px;
}

.txt_payment_note {
    color: #6f6f6f;
    text-align: left;
    margin-bottom: 65px;
}

.campaign_sec {
    background: #ffffff;
    border-radius: 30px;
    padding: 0 45px;
    position: relative;
}

.campaign_sec:before {
    content: '';
    position: absolute;
    background: url("/assets/images/lp/bg_campaign.png") no-repeat top center;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 882px;
    height: 435px;
    left: 50%;
    top: -25px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ttl_campaign {
    width: 91%;
    max-width: 708px;
    margin: 0 auto 12px;
}

.ttl_campaign img {
    margin-top: -15px;
}

.txt_campaign_des,
.txt_campaign_des span {
    font-size: 20px;
    line-height: 1.4;
}

.txt_campaign_des {
    color: #3a3a3a;
    margin-bottom: 35px;
}

.txt_campaign_des span {
    color: #ff8154;
}

.campaign_info {
    background: #f7f7f7;
    border-radius: 15px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 25px 20px;
    margin-bottom: 40px;
}

.campaign_type,
.campaign_date,
.campaign_date span {
    font-size: 14px;
    line-height: 1.8;
    color: #3a3a3a;
}

.campaign_type {
    margin-right: 24px;
}

.campaign_date span {
    color: #ff8154;
}

.campaign_img {
    position: absolute;
    width: 15%;
    max-width: 115px;
    right: 40px;
    bottom: -7px;
}
/*end of Usage Fee Section*/

/*Question And Answer*/
.qa_sec {
    background: #fff;
}

.ttl_h3 span.ttl_ques {
    color: #73afc7;
}

.ttl_h3 span.ttl_ans {
    color: #ff8154;
}

.qa_item {
    margin-bottom: 20px;
}

.qa_item:last-child {
    margin-bottom: 0;
}

.ques_sec {
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
    background: #73afc7;
    border-radius: 30px;
    padding: 12px 30px;
    position: relative;
    cursor: pointer;
}

.ques_sec:after {
    content: '';
    position: absolute;
    background: url("/assets/images/lp/icon_arrow.png") no-repeat right center;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 18px;
    height: 11px;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ques_sec.opened:after {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}

.icon_ques,
.icon_ans {
    width: 6%;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
}

.icon_ques {
    color: #ffffff;
}

.icon_ans {
    display: inline-block;
    color: #ff8154;
    vertical-align: top;
}

.txt_ques {
    width: 94%;
    font-size: 22px;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
}

.ans_sec {
    display: none;
    padding: 15px 30px;
}

.txt_ans {
    display: inline-block;
    width: 93%;
    text-align: left;
}
/*end of Question And Answer*/

/*Form Section*/
.form_sec {
    background: #ff8154;
}

.form_sec .ttl_h3,
.form_sec .ttl_h3 .line_txt {
    color: #fff;
}

.app_form {
    width: 100%;
    background: #fff;
    border-radius: 30px;
    padding: 45px 0 0 0;
}

.txt_form_info {
    font-size: 18px;
    margin-bottom: 18px;
}

.app_form .txt_com_sm {
    color: #6f6f6f;
    margin-bottom: 55px;
}

.form_app {
    background: #fff5f1;
    border-radius: 0 0 30px 30px;
    padding: 35px 65px;
}

.txt_form_note {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.txt_form_note span {
    font-size: 14px;
    color: #be2323;
}

.form_item {
    -webkit-align-items: center;
            align-items: center;
    margin-bottom: 20px;
}

.form_item.form_textarea {
    margin-bottom: 44px;
}

.txt_label {
    text-align: left;
    width: 19%;
}

.txt_label span {
    font-size: 14px;
    color: #be2323;
}

.form_field{
    width: 78%;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    font-size: 16px;
    color: #3a3a3a;
    line-height: 1.6;
    height: 51px;
    padding: 0 10px;
    outline: none;
}

textarea.form_field {
    height: 103px;
    padding: 10px;
    resize: none;
}

.form_app .btn_yellow {
    font-size: 20px;
    border-radius: 30px;
    padding: 16px 77px;
}
/*end of Form Section*/

/*For tablet*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /*mv_kinreco_lp*/
    section.mv_kinreco_lp {
        padding: 5.833vw 0 0;
    }   

    .mv_content .txt_mv_dotted{
        font-size: 1.833vw;
        margin-right: 9vw;
    }

    .mv_content .txt_common{
        font-size: 2.167vw;
        letter-spacing: .05em;
        margin-bottom: 2.500vw;
    }
    .mv_content{
        width: 73.8333%;
        max-width: 874px;
    }

    .mv_content_left{
        width: 43.935%;
        max-width: 384px;
    }
    .mv_kinrekun_image{
        width: 52%;
        top: -2.2vw;
    }

    /*attend_sys_sec*/
    .ttl_attend_sys,
    .ttl_attend_sys span{
        font-size: 2.667vw;
        margin-bottom: 1.250vw;
    }

    .attend_sys_image{
        margin: 0 auto 4.167vw;
    }

    .ttlh2_com {
       font-size: 2.167vw;
       line-height: 1.8;
       margin-bottom: 5.833vw;
    }

    .ttlh2_com span.org_col{
       font-size: 2.667vw; 
    }

    /*explain box*/
    .explain_box{
        -webkit-border-radius: 2.500vw;
                border-radius: 2.500vw;
    }

    .explain_detail{
        padding: 5.833vw 3.833vw;
    }

    .explain_detail .txt_com,
    .explain_detail .txt_com span{
        font-size: 1.167vw;
    }

    .explain_detail  p.txt_com:first-child{
        margin-bottom: 2.500vw;
    }

    .explain_detail .explain_image{
        right: 3.833vw;
    }
     /*reason_sec*/
     .reason_sec:after{
        border-width: 2.333vw 5.167vw 0 5.167vw;
        bottom: -2vw;
    }
    .reason_box {
        position: relative;
        padding: 13.333vw 0 0;
    }    

    .resong_msg.msg02,
    .resong_msg.msg03{
        top: 2.500vw;
    }

    .resong_msg.msg04,
    .resong_msg.msg05{
        bottom: 2.500vw;
    }

    .resong_msg p{
        font-size: 1.083vw;
        line-height: 1.8;
        padding: 3.333vw 1.667vw 5vw;
    }
    /*Service Section*/
    .service_sec:before {
        border-width: 2.333vw 5.583vw 0 5.583vw;
    }

    .service_item {
        border-radius: 2.500vw;
        padding: 3.750vw;
        max-height: 30vw;
        min-height: 30vw;
        margin-bottom: 2.083vw;
    }

    .service_img img {
        width: 28.333vw;
    }

    .service_item02 .service_img img,
    .service_item03 .service_img img {
        width: 33.333vw;
    }

    .ttl_service {
        font-size: 1.833vw;
        margin-bottom: 1.667vw;
    }

    .service_des .txt_com_sm {
        font-size: 1.083vw;
    }

    .txt_service {
        margin-bottom: 3.333vw;
    }

    .icon_service {
        width: 14.917vw;
        top: -1.083vw;
        right: -4.167vw;
    }
    /*end of Service Section*/
    /*Trial Experience Section*/
    .sample_screen_sec .ttl_h3 {
        margin-bottom: 0.417vw;
    }

    .sample_screen_sec .txt_com_sm span {
        font-size: 1vw;
    }

    .txt_login_info,
    .txt_login_info span {
        font-size: 1.500vw;
    }

    .txt_login_info {
        margin-bottom: 1.250vw;
    }

    .login_screen {
        border-radius: 2.500vw;
    }

    .info_list {
        border-radius: 2.500vw 2.500vw 0 0;
        max-height: 9.500vw;
        min-height: 9.500vw;
    }

    .info_list li {
        font-size: 1.500vw;
    }

    .info_list li.ttl_login_info {
        font-size: 1.667vw;
        margin-bottom: 0.333vw;
    }

    .login_screen .btn_yellow {
        margin-bottom: 2.500vw;
    }

    .login_screen .btn_yellow:after {
        width: 1.833vw;
        height: 1.583vw;
        right: 1.667vw;
    }

    .screen_mobile .screen_img {
        max-width: 33.167vw;
        margin: -0.833vw 0 0 -2.917vw;
    }

    .screen_pc .screen_img {
        max-width: 37.500vw;
        margin-left: -1.250vw;
    }
    /*end of Trial Experience Section*/

    /*Usage Fee Section*/
    .txt_usage span {
        font-size: 1.833vw;
    }

    .usage_list {
        margin-bottom: 1.250vw;
    }

    .usage_item {
        border-radius: 1.667vw;
        padding: 1.667vw 2.083vw;
    }

    .usage_item .btn_org {
        font-size: 1.500vw;
        border-radius: 2.083vw;
        padding: 1.333vw;
        margin-bottom: 1.667vw;
    }

    .usage_item .btn_org:before {
        border-width: 0.833vw 0.833vw 0 0.833vw;
        bottom: -0.750vw;
    }

    .txt_payment {
        font-size: 1.083vw;
    }

    .app_account .txt_payment {
        margin-bottom: 1.833vw;
    }

    .payment .txt_payment {
        margin-bottom: 0.833vw;
    }

    .usage_example .txt_com {
        margin-bottom: 0.833vw;
    }

    .usage_example,
    .payment_list {
        border-radius: 1.333vw;
        padding: 1.667vw;
    }

    .payment_list li {
        margin-bottom: 0.250vw;
    }

    .txt_payment_note {
        margin-bottom: 5.417vw;
    }

    .campaign_sec {
        border-radius: 2.500vw;
        padding: 0 3.750vw;
    }

    .campaign_sec:before {
        width: 73.500vw;
        height: 36.250vw;
        top: -2.083vw;
    }

    .ttl_campaign {
        max-width: 59vw;
        margin: 0 auto 1vw;
    }

    .ttl_campaign img {
        margin-top: -1.250vw;
    }

    .txt_campaign_des,
    .txt_campaign_des span {
        font-size: 1.667vw;
    }

    .txt_campaign_des {
        margin-bottom: 2.917vw;
    }

    .campaign_info {
        border-radius: 1.250vw;
        padding: 1.250vw 1.667vw;
        margin-bottom: 3.333vw;
    }

    .campaign_type,
    .campaign_date,
    .campaign_date span {
        font-size: 1.167vw;
    }

    .campaign_type {
        margin-right: 2vw;
    }

    .campaign_img {
        max-width: 9.583vw;
        right: 3.333vw;
        bottom: -0.583vw;
    }
    /*end of Usage Fee Section*/

    /*Question And Answer*/
    .qa_item {
        margin-bottom: 1.667vw;
    }

    .ques_sec {
        border-radius: 2.500vw;
        padding: 1vw 2.500vw;
    }

    .ques_sec:after {
        width: 1.500vw;
        height: 0.917vw;
        right: 2.500vw;
    }

    .icon_ques,
    .icon_ans {
        font-size: 2.500vw;
    }

    .txt_ques {
        font-size: 1.833vw;
    }

    .ans_sec {
        padding: 1.250vw 2.500vw;
    }
    /*end of Question And Answer*/

    /*Form Section*/

    .app_form {
        border-radius: 2.500vw;
        padding: 3.750vw 0 0 0;
    }

    .txt_form_info {
        font-size: 1.500vw;
        margin-bottom: 1.500vw;
    }

    .app_form .txt_com_sm {
        margin-bottom: 4.583vw;
    }

    .form_app {
        border-radius: 0 0 2.500vw 2.500vw;
        padding: 2.917vw 5.417vw;
    }

    .txt_form_note {
        font-size: 1.833vw;
        margin-bottom: 3.333vw;
    }

    .txt_form_note span {
        font-size: 1.167vw;
    }

    .form_item {
        margin-bottom: 1.667vw;
    }

    .form_item.form_textarea {
        margin-bottom: 3.667vw;
    }

    .txt_label span {
        font-size: 1.167vw;
    }

    .form_field{
        width: 77%;
        border: 0.083vw solid #bbbbbb;
        font-size: 1.333vw;
        height: 4.250vw;
        padding: 0 0.833vw;
    }

    textarea.form_field {
        height: 8.583vw;
        padding: 0.833vw;
    }

    .form_app .btn_yellow {
        font-size: 1.667vw;
        border-radius: 2.500vw;
        padding: 1.333vw 6.417vw;
    }
    /*end of Form Section*/
}
/*end of Tablet*/

/*For SP*/
@media only screen and (max-width: 767px) {
    /*mv_kinreco_lp*/
    section.mv_kinreco_lp {
        padding: 1.5rem 0 0;
    }

    .mv_kinreco_lp .inner{
        width: 100%;
        max-width: 7.5rem;
        position: relative;
    }

    .mv_content{
        width: 100%;
        max-width: 7.5rem;
        margin: 0 auto;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }

    .mv_content > div{
        display: block;
    }

    .mv_content_left{
        width: 100%;
        max-width: 5.6rem;
        margin: 0 auto;
        text-align: center;
    }

    .mv_kinrekun_image{
        width: 100%;
        max-width: 7.5rem;
        position: relative;
        top: auto;
        right: auto;
    }

    .mv_kinrekun_image img{
        width: 100%;
        height: auto;
    }

    .ttl_mv_kinreco {
        width: 100%;
        max-width: 5.6rem;
        margin: 0 auto;
    }

    .mv_content .txt_mv_dotted{
        font-size: .29rem;
        line-height: 1;
        text-align: center;
        margin: 0 0 0 .3rem;
    }

    .mv_content .txt_common{
        font-size: .29;
        margin-bottom: .4rem;
    }

    /*attend_sys_sec*/
    .attend_sys_sec .inner{
        width: 100%;
        max-width: 7.5rem;
    }
    .ttl_attend_sys,
    .ttl_attend_sys span{
        font-size: .46rem;
        margin-bottom: .2rem;
    }

    .attend_sys_image{
        width: 100%;
        height: auto;
        margin: 0 auto .1rem;
    }

    .ttlh2_com {
       font-size: .33rem;
       margin-bottom: 70px;
    }

    .ttlh2_com span.org_col{
       font-size: .40rem; 
    }

    .ttlh2_com .ttl_logo{
        display: inline-block;
        width: 74.6666%;
        max-width: 560px;
    }

    /*explain box*/
    .explain_box{
        width: 100%;
        max-width: 6.5rem;
        margin: 0 auto;
        -webkit-border-radius: .3rem;
                border-radius: .3rem;
    }

    .explain_detail{        
        position: relative;
        text-align: left;
        margin: 0 auto;
        padding: .6rem .4rem 0;
    }

    .explain_detail .txt_com,
    .explain_detail .txt_com span{
        font-size: .24rem;
        line-height: 2;
    }

    .explain_detail  p.txt_com:first-child{
        margin-bottom: .5rem;
    }

    .explain_detail .explain_image{
        position: relative;
        bottom: auto;
        right: auto;
        width: 100%;
        max-width: 5.62rem;
        text-align: right;
    }
    /*reason_sec*/
    .reason_box {
        position: relative;
        padding: 9.3rem 0 0;
        max-width: 780px;
        margin: 0 auto;
        text-align: left;
    }

    .reason_sec:after{
        border-width: .3rem .67rem 0 .67rem;
        bottom: -.26rem;
    }

    .reason_sec .ttlh2_com{
        margin-bottom: .3rem;
    }

    .reason_box .img_human_think{
        width: 37.4%;
        max-width: 243px;
        margin: 0 auto;
    }

    .resong_msg{
        position: absolute;
    }

    .resong_msg.msg01{
        background: url('/assets/images/lp/bg_resong_msg01.png') no-repeat center;
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        width: 3.65rem;
        max-width: 365px;
        top: 0;
        left: 74%;
    }

    .resong_msg.msg02{
        background: url('/assets/images/lp/bg_resong_msg02.png') no-repeat center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 4rem;
        max-width: 4rem;
        top: 1.2rem;
        left: 0;
    }

    .resong_msg.msg03{
        background: url('/assets/images/lp/bg_resong_msg03.png') no-repeat center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 4rem;
        max-width: 4rem;
        top: 3.5rem;
        right: 0;
    }

    .resong_msg.msg04{
        background: url('/assets/images/lp/bg_resong_msg04.png') no-repeat center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 4.2rem;
        max-width: 4.2rem;
        bottom: 4.8rem;
        left: 0;
    }

    .resong_msg.msg05{
        background: url('/assets/images/lp/bg_resong_msg05.png') no-repeat center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 4rem;
        max-width: 4rem;
        bottom: 2.5rem;
        right: 0;
    }

    .resong_msg p{
        font-size: .2rem;
        padding: .6rem .10rem .8rem;
        text-align: center;
    }
    .resong_msg p span{
        font-size: .2rem;
    }
    .resong_msg.msg02 p{
        padding: .68rem 0rem 0.9rem;
    }
    .resong_msg.msg03 p{
        padding: .65rem 0rem 0.85rem;
    }
    .resong_msg.msg04 p{
        padding: .55rem 0rem 0.45rem;
    }
    .resong_msg.msg05 p{
        padding: 0.55rem .10rem .85rem;
    }
    .txt_reason{
        position: absolute;
        bottom: .24rem;
        right: 0;
        font-size: .46rem;
    }
    .txt_reason span{
        font-size: .46rem;
    }
    /*Service Section*/
    .service_sec:before {
        border-width: 0.35rem 0.90rem 0 0.90rem;
    }

    .service_sec .ttl_h3 {
        margin-bottom: 0.70rem;
    }

    .service_item {
        border-radius: 0.30rem;
        padding: 0.70rem 0.48rem;
        max-height: 100%;
        min-height: auto;
        margin-bottom: 0.35rem;
    }

    .service_img {
        width: 100%;
        text-align: center;
        margin-bottom: 0.25rem;
    }

    .service_des {
        width: 100%;
    }

    .service_item:nth-child(2n+1) .service_img {
        text-align: center;
    }

    .service_img img {
        width: 5.58rem;
    }

    .service_item02 .service_img img,
    .service_item03 .service_img img {
        width: 5.58rem;
    }

    .ttl_service {
        font-size: 0.32rem;
        margin-bottom: 0.20rem;
    }

    .service_des .txt_com_sm {
        font-size: 0.24rem;
    }

    .txt_service {
        margin-bottom: 0.35rem;
    }

    .icon_service {
        width: 2.45rem;
        top: -0.65rem;
        right: -0.28rem;
    }
    /*end of Service Section*/
    /*Trial Experience Section*/
    .sample_screen_sec .ttl_h3 {
        margin-bottom: 0.15rem;
    }

    .txt_sample {
        margin-bottom: 0.60rem;
    }

    .sample_screen_sec .txt_com_sm span {
        font-size: 0.20rem;
    }

    .txt_login_info,
    .txt_login_info span {
        font-size: 0.20rem;
    }

    .txt_login_info {
        width: 100%;
        margin: 0.20rem 0 0 0;
    }

    .txt_login_info.txt_login_info01 {
        margin: 0.20rem 0 0.70rem 0;
    }

    .login_info {
        padding: 0 0.55rem;
    }

    .login_screen {
        border-radius: 0.30rem;
        margin: 0;
    }

    .info_list {
        border-radius: 0.30rem 0.30rem 0 0;
        max-height: 1.46rem;
        min-height: 1.46rem;
    }

    .info_list li {
        font-size: 0.24rem;
    }

    .info_list li.ttl_login_info {
        font-size: 0.28rem;
        margin-bottom: 0;
    }

    .login_screen .btn_yellow {
        font-size: 0.24rem;
        margin-bottom: 0.40rem;
    }

    .login_screen .btn_yellow span {
        font-size: 0.32rem;
    }

    .login_screen .btn_yellow:after {
        width: 0.29rem;
        height: 0.25rem;
        right: 0.28rem;
    }

    .screen_mobile .screen_img {
        width: 91%;
        max-width: 4.90rem;
        margin: 0 0 0 -0.28rem;
    }

    .screen_pc .screen_img {
        width: 107%;
        max-width: 5.74rem;
        margin: 0 0 0.22rem -0.17rem;
    }
    /*end of Trial Experience Section*/

    /*Usage Fee Section*/
    .txt_usage {
        margin-bottom: 1.10rem;
    }

    .txt_usage span {
        font-size: 0.30rem;
    }

    .usage_list {
        margin-bottom: 0.35rem;
    }

    .usage_item {
        border-radius: 0.20rem;
        padding: 0.44rem;
    }

    .usage_item .btn_org {
        font-size: 0.36rem;
        border-radius: 0.45rem;
        padding: 0.27rem 0.20rem;
        width: 4.70rem;
        margin: 0 auto 0.60rem;
    }

    .usage_item .btn_org:before {
        border-width: 0.26rem 0.19rem 0 0.19rem;
        bottom: -0.24rem;
    }

    .usage_item .txt_com_sm {
        font-size: 0.24rem;
    }

    .app_account .txt_payment {
        font-size: 0.26rem;
        margin-bottom: 0.40rem;
    }

    .payment .txt_payment {
        margin-bottom: 0.30rem;
    }

    .usage_example .txt_com {
        margin-bottom: 0.10rem;
        font-size: 0.32rem;
    }

    .usage_example,
    .payment_list {
        border-radius: 0.20rem;
        padding: 0.40rem;
    }

    .payment_list li {
        margin-bottom: 0.03rem;
    }

    .txt_payment_note {
        margin-bottom: 0.70rem;
    }

    .campaign_sec {
        border-radius: 0.30rem;
        padding: 0 0.45rem;
    }

    .campaign_sec:before {
        background: url("/assets/images/lp/bg_campaign_sp.png") no-repeat top center;
        -webkit-background-size: 100% auto;
        -o-background-size: 100% auto;
        background-size: 100% auto;
        width: 7.50rem;
        height: 4.50rem;
        left: 50%;
        top: -0.33rem;
    }

    .ttl_campaign {
        width: 7.08rem;
        max-width: 7.08rem;
        margin: 0 auto 0.12rem -0.75rem;
    }

    .ttl_campaign img {
        margin: -0.16rem 0 0 0;
    }

    .txt_campaign_des,
    .txt_campaign_des span {
        font-size: 0.28rem;
    }

    .txt_campaign_des {
        margin-bottom: 0.35rem;
    }

    .campaign_info {
        border-radius: 0.15rem;
        padding: 0.35rem;
        margin-bottom: 0.40rem;
    }

    .campaign_type,
    .campaign_date,
    .campaign_date span {
        font-size: 0.24rem;
    }

    .campaign_type {
        font-size: 0.26rem;
        margin-right: 0;
        width: 100%;
    }

    .campaign_date {
        width: 100%;
    }

    .campaign_img {
        width: 1.08rem;
        max-width: 1.08rem;
        right: -0.20rem;
        bottom: 1.7rem;
    }
    /*end of Usage Fee Section*/

    /*Question And Answer*/
    .qa_sec .ttl_h3 {
        margin-bottom: 0.30rem;
    }

    .qa_item {
        margin-bottom: 0.30rem;
    }

    .ques_sec {
        border-radius: 0.50rem;
        padding: 0.12rem 0.60rem 0.12rem 0.30rem;
    }

    .ques_sec:after {
        width: 0.18rem;
        height: 0.11rem;
        right: 0.30rem;
    }

    .icon_ques,
    .icon_ans {
        width: 8%;
        font-size: 0.30rem;
    }

    .txt_ques {
        width: 92%;
        font-size: 0.24rem;
    }

    .ans_sec {
        padding: 0.15rem 0.30rem;
    }

    .txt_ans {
        width: 91%;
    }
    /*end of Question And Answer*/

    /*Form Section*/
    .form_sec .ttl_h3 {
        margin-bottom: 0.60rem;
    }

    .app_form {
        border-radius: 0.30rem;
        padding: 0.35rem 0 0 0;
    }

    .txt_form_info {
        font-size: 0.26rem;
        margin-bottom: 0.30rem;
        padding: 0 0.40rem;
    }

    .app_form .txt_com_sm {
        padding: 0 0.40rem;
        margin-bottom: 0.35rem;
    }

    .form_app {
        border-radius: 0 0 0.30rem 0.30rem;
        padding: 0.45rem 0.45rem 0.75rem 0.45rem;
    }

    .txt_form_note {
        font-size: 0.28rem;
        margin-bottom: 0.20rem;
    }

    .txt_form_note span {
        font-size: 0.22rem;
    }

    .form_item {
        margin-bottom: 0.35rem;
    }

    .form_item.form_textarea {
        margin-bottom: 0.35rem;
    }

    .txt_label {
        width: 100%;
        font-size: 0.24rem;
        margin-bottom: 0.20rem;
    }

    .txt_label span {
        font-size: 0.22rem;
    }

    .form_field{
        width: 100%;
        border: 0.01rem solid #bbbbbb;
        font-size: 0.24rem;
        height: 0.68rem;
        padding: 0 0.20rem;
    }

    textarea.form_field {
        height: 1.37rem;
        padding: 0.20rem;
    }

    .form_app .btn_yellow {
        font-size: 0.28rem;
        border-radius: 0.45rem;
        padding: 0.25rem 1.17rem;
    }
    /*end of Form Section*/
}

/*end of SP*/