@charset "utf-8";

/*For PC*/
img {
    width: 100%;
    height: auto
}

section {
    padding: 90px 0;
}

.inner {
    width: 73%;
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
}

.txt_com {
    font-size: 16px;
    color: #3a3a3a;
    line-height: 1.6;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.txt_com_sm {
    font-size: 12px;
    line-height: 1.5;
    color: #3a3a3a;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ttl_h3 {
	font-size: 32px;
    line-height: 1.5;
    color: #3a3a3a;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 25px;
}

.ttl_h3 span {
    font-size: 32px;
    line-height: 1.5;
}

.ttl_h3 span.line_txt {
    font-size: 24px;
    color: #3a3a3a;
    line-height: 1.8;
}

.regular {
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.medium {
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bold {
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main_col {
    color: #3a3a3a;
}

.org_col {
    color: #ff8154;
}

.sub_col02 {
    color: #be2424;
}

.main_mb {
    margin-bottom: 30px;
}

.flex {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex01,
.flex02 {
    width: 50%;
    max-width: 420px;
}

.flex01 {
    margin-right: 30px;
}

.btn_org {
    background: #ff8154;
    border-radius: 30px;
    padding: 18px;
    position: relative;
    margin-bottom: 43px;
}

.btn_org:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 17px 0 17px;
    border-color: #ff8154 transparent transparent transparent;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn_yellow {
    display: inline-block;
    background: #ffe959;
    border-radius: 40px;
    font-size: 18px;
    color: #3a3a3a;
    line-height: 1.4;
    padding: 14px 58px;
    position: relative;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn_yellow.btn_contact {
    border-radius: 30px;
    padding: 17px 55px 17px 92px;
    margin-bottom: 45px;
}

.btn_yellow.btn_contact:before {
    content: '';
    position: absolute;
    background: url("/assets/images/lp/icon_mail.png") no-repeat left center;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 28px;
    height: 23px;
    left: 47px;
    top: 52%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*end of PC*/

/*For tablet*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    section {
        padding: 7.500vw 0;
    }

    .inner {
        max-width: 72.500vw;
    }

    .txt_com {
        font-size: 1.333vw;
    }

    .txt_com_sm {
        font-size: 1vw;
    }

    .ttl_h3 {
        font-size: 2.667vw;
        margin-bottom: 2.083vw;
    }

    .ttl_h3 span {
        font-size: 2.667vw;
    }

    .ttl_h3 span.line_txt {
        font-size: 2vw;
    }

    .main_mb {
        margin-bottom: 2.500vw;
    }

    .flex01,
    .flex02 {
        max-width: 35vw;
    }

    .flex01 {
        margin-right: 2.500vw;
    }

    .btn_org {
        border-radius: 2.500vw;
        padding: 1.500vw;
        margin-bottom: 3.583vw;
    }

    .btn_org:before {
        border-width: 1.500vw 1.417vw 0 1.417vw;
        bottom: -1.333vw;
    }

    .btn_yellow {
        border-radius: 3.333vw;
        font-size: 1.500vw;
        padding: 1.167vw 4.833vw;
    }

    .btn_yellow.btn_contact {
        border-radius: 2.500vw;
        padding: 1.417vw 4.583vw 1.417vw 7.667vw;
        margin-bottom: 3.750vw;
    }

    .btn_yellow.btn_contact:before {
        width: 2.333vw;
        height: 1.917vw;
        left: 3.917vw;
    }
}
/*end of Tablet*/

/*For SP*/
@media only screen and (max-width: 767px) {
    section {
        padding: 0.90rem 0;
    }

    .inner {
        width: 6.50rem;
        max-width: 6.50rem;
    }

    .txt_com {
        font-size: 0.26rem;
    }

    .txt_com_sm {
        font-size: 0.20rem;
    }

    .ttl_h3 {
        font-size: 0.40rem;
        margin-bottom: 0.15rem;
    }

    .ttl_h3 span {
        font-size: 0.40rem;
    }

    .ttl_h3 span.line_txt {
        font-size: 0.30rem;
    }

    .main_mb {
        margin-bottom: 0.35rem;
    }

    .flex01,
    .flex02 {
        width: 100%;
        max-width: 100%;
    }

    .flex01 {
        margin: 0 0 0.35rem 0;
    }

    .btn_org {
        border-radius: 0.30rem;
        padding: 0.20rem;
        margin-bottom: 0.60rem;
    }

    .btn_org:before {
        border-width: 0.25rem 0.23rem 0 0.23rem;
        bottom: -0.23rem;
    }

    .btn_yellow {
        border-radius: 0.52rem;
        font-size: 0.27rem;
        padding: 0.175rem 0.74rem;
    }

    .btn_yellow.btn_contact {
        border-radius: 0.45rem;
        padding: 0.26rem 0.85rem 0.26rem 1.35rem;
        margin-bottom: 0.45rem;
    }

    .btn_yellow.btn_contact:before {
        width: 0.42rem;
        height: 0.34rem;
        left: 0.70rem;
    }
}

/*end of SP*/