@charset "utf-8";
/*For PC*/
img{
	width: 100%;
	height: auto
}
.inner{
	width: 73%;
	max-width: 870px;
	margin: 0 auto;
	text-align: center;
}
.txt_regular{
	font-family: noto-sans-cjk-jp, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.txt_medium{
	font-family: noto-sans-cjk-jp, sans-serif;
	font-weight: 500;
	font-style: normal;
}
.txt_bold{
	font-family: noto-sans-cjk-jp, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.ttl_common_line,
.ttl_common_line .ttl_orange{
	font-size: 32px;
	color: #3a3a3a;
	line-height: 1.5;
}
.ttl_common_line{
	margin-bottom: 40px;
}
.ttl_common_line .ttl_orange{
	color: #ff8154;
}
.ttl_common_line .line_txt{
	font-size: 24px;
	color: #3a3a3a;
	line-height: 1.8;
}
.txt_common{
	font-size: 16px;
	color: #3a3a3a;
	line-height: 1.6;
}
.txt_common_small{
	font-size: 12px;
	color: #3a3a3a;
	line-height: 1.5;
}
/*end of PC*/

/*For SP*/
@media only screen and (max-width: 767px) {

}
/*end of SP*/